/*#463939 (주조색) #746161 (보조색) #b3b3b3 (그레이) */
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
    border: 0;
}
body{
    color: #333;
}
.modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 100;
    display: none;
}
.modal .modal_inner{
    background: #fff;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.modal .modal_inner .tit{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
}
.modal .modal_inner .con{
    padding: 10px;
}
.modal .modal_inner .btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    z-index: 10;
    position: relative;
    background: #ccc;
}
header h1{
    float: left;
    width: 200px;
    padding: 29px;
}
header nav{
    width: 700px;
    float: right;
    padding-top: 30px;
}
header nav .nav_bg{
    position: absolute;
    width: 100%;
    height: 120px;
    background: #746161;
    left: 0;
    top: 77px;
    display:none;
}
header nav .gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background: #fff;
}
header nav .gnb>li{
    width: 25%;
    float: left;
    position: relative;
}
header nav .gnb>li>a{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
}
header nav .gnb>li:hover>a{
    background: #746161;
    color: #fff;
}
header nav .gnb .sub{
    width: 100%;
    line-height: 40px;
    display:none;
    position: absolute;
    left: 0;
    top: 45px;
    background: #746161;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
}
header nav .gnb .sub>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
header nav .gnb .sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
header nav .gnb .sub>li:hover>a{
    background: #fff;
    color: #333;
}
.slide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide li{
    width: 100%;
    height:300px;
    position: absolute;
    left: 0;
    top: 0;
}
.contents{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
}
.contents section{
    float: left;
    font-size: 14px;
}
.contents section h2{
    width: 100px;
    height: 30px;
    background: #746161;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
}
.contents .notice{
    width: 450px;
    box-sizing: border-box;
    padding: 0 10px;
}
.contents .notice ul{
    width: 100%;
}
.contents .notice ul li{
    width: 100%;
    height: 27px;
    position: relative;
}
.contents .notice ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.contents .notice ul li a:hover{
    background: #746161;
    color: #fff;
}
.contents .notice ul li .day{
    position: absolute;
    right: 0;
    top:0;
    font-size: 13px;
}
.contents .gal{
    width: 450px;
}
.contents .gal ul li{
    width: 120px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}
.contents .gal ul li:hover{
    opacity: .7;
}
.contents section img{
    width: 120px;
}
.contents .baro{
    width: 298px;
}
.contents .baro a{
    width: 95%;
    height: 40px;
    display: block;
    margin: 2.5%;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}
.contents .baro a:hover{
    background: #746161;
    color: #fff;
}
footer{
    width: 100%;
    height: 100px;
    background: #ccc;
}
footer .f_left{
    width: 1000px;
    float: left;
    padding-left: 5px;
}
footer .f_left .f_menu{
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
footer .f_left .f_menu li{
    float: left;
    margin-right: 10px;
}
footer .f_left .copy{
    font-size: 13px;
}
footer .fam{
    width: 195px;
    float: left;
    text-align: center;
    cursor: pointer;
}
footer .fam p{
    width: 100%;
    line-height: 40px;
    height: 40px;
    background: #b3b3b3;
    font-weight: bold;
}
footer .fam ul{
    width: 100%;
    display: none;
}
footer .fam ul li{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background: #b3b3b3;
}
footer .fam ul li:hover{
    background: #ccc;
    font-weight: bold;
}