/*#463939 (주조색) #746161 (보조색) #b3b3b3 (그레이) */
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
img{
    vertical-align: top;
    border: 0;
}
body{
    color: #333;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    z-index: 10;
    position: relative;
    background: #ccc;
}
header h1{
    float: left;
    width: 200px;
    padding: 30px;
}
header nav{
    width: 700px;
    float: right;
    padding-top: 30px;
}
header nav .nav_bg{
    position: absolute;
    width: 100%;
    height: 120px;
    background: #746161;
    left: 0;
    top: 77px;
    display:none;
}
header nav .gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background: #fff;
}
header nav .gnb>li{
    width: 25%;
    float: left;
    position: relative;
}
header nav .gnb>li>a{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
}
header nav .gnb>li:hover>a{
    background: #746161;
    color: #fff;
}
header nav .gnb .sub{
    width: 100%;
    line-height: 40px;
    display:none;
    position: absolute;
    left: 0;
    top: 45px;
    background: #746161;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
}
header nav .gnb .sub>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
header nav .gnb .sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
header nav .gnb .sub>li:hover>a{
    background: #fff;
    color: #333;
}
.slide{
    width: 100%;
    height: 300px;
    position: relative;
}
.contents{
    width: 100%;
    height: 200px;
}
footer{
    width: 100%;
    height: 100px;
}